{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <section>
    <div class="form">
      <h1 class="form__title_product_list">Мої замовлення</h1>
      <div class="products-list">

        <div class="product">
          {{> product-purchasecard}}

        </div>
      </div>
    </div>
  </section>
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}